@use 'colors' as *;
@use 'mixins' as *;

@media (min-width: 992px) {
	.landingPage {
		.header {
			&__title {
				width: 70%;

				h1 {
					font-size: 6rem;
				}

				p {
					font-size: 2.2rem;
				}
			}
		}

		.trailer {
			&__video {
				margin: 50px;
			}
		}

		.join {
			&__title {
				h2 {
					@include h2L;
				}
			}

			&__choice {
				height: 600px;

				h3 {
					font-size: 2.8rem;
				}

				&-left {
					img {
						margin-right: 10%;
					}
				}

				&-right {
					img {
						margin-left: 10%;
					}
				}
			}
		}
	}

	.nav {
		&__middle {
			&-logo {
				img {
					width: 90px;
				}
			}

			&-links {
				a {
					font-size: 2.4rem;
				}
			}
		}
	}

	.howToJoin {
		margin-top: 180px;

		&__choice {
			height: 650px;

			.circle {
				width: 300px;
				height: 300px;
			}

			h2 {
				font-size: 3rem;
			}

			p {
				font-size: 1.8rem;
			}

			a {
				font-size: 2.2rem;
			}

			&-left {
				.circle {
					left: -40px;
				}

				a {
					margin-left: 40px;
				}
			}

			&-right {
				.circle {
					right: -40px;
				}

				a {
					margin-right: 40px;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.landingPage {
		.header {
			&__title {
				width: 80%;

				h1 {
					font-size: 7rem;
				}

				p {
					font-size: 2.5rem;
				}
			}
		}

		.join {
			&__title {
				h2 {
					@include h2XL;
				}
			}

			&__choice {
				height: 700px;

				h3 {
					font-size: 3.2rem;
				}
			}
		}
	}

	.nav {
		&__middle {
			&-links {
				a {
					font-size: 2.4rem;
				}
			}
		}
	}
}
