@use 'colors' as *;

@media (min-width: 992px) {
	.nav {
		&__middle {
			&-logo {
				img {
					width: 90px;
				}
			}

			&-links {
				a {
					font-size: 2.4rem;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__middle {
			&-logo {
				img {
					width: 120px;
				}
			}

			&-links {
				a {
					font-size: 2.4rem;
				}
			}
		}
	}
}
