@use 'colors' as *;
@use 'mixins' as *;

@media (min-width: 772px) {
	.nav {
		&__mobile {
			display: none;
		}

		&__settings {
			top: 2px;

			&-option {
				font-size: 2rem;
			}
		}

		&__middle {
			padding-bottom: 12px;
			transition: transform 0.2s;

			&-logo {
				img {
					width: 80px;
					transition: scale 0.3s;

					&:hover {
						scale: 1.1;
					}
				}
			}

			&-links {
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				margin-right: 23px;
				padding: 0 20px 10px;
				border-bottom-left-radius: 24px;
				border-bottom-right-radius: 24px;
				transition: box-shadow 0.3s, background-color 0.3s;

				a {
					font-size: 2rem;
					white-space: nowrap;
				}

				&--scrolled {
					box-shadow: 0px 0px 10px #000;
					background-color: $backgroundDarker;
				}
			}

			&--scrolled {
				transform: translate(-50%, -63%);
			}
		}
	}

	.footer {
		&__block {
			width: 21%;
			margin-top: 1rem;

			&-header {
				font-size: 2.2rem;
			}

			&-other {
				a {
					font-size: 1.1rem;
				}
			}
		}

		&__desc {
			width: 35%;

			&-header {
				p {
					font-size: 2rem;
				}
			}
		}
	}

	.landingPage {
		.header {
			&__title {
				width: 80%;

				h1 {
					font-size: 5rem;
				}

				p {
					font-size: 2rem;
				}
			}
		}

		.trailer {
			&__video {
				margin: 30px;
			}
		}

		.join {
			&__title {
				h2 {
					@include h2M;
				}
			}

			&__choices {
				flex-direction: row;
			}

			&__choice {
				width: 50%;
				height: 550px;

				h3 {
					font-size: 2.4rem;
				}

				img {
					margin: 0;
				}

				&-left {
					justify-content: flex-end;

					h3 {
						right: auto;
						left: 5%;
					}
				}

				&-right {
					justify-content: flex-start;
					order: 1;

					h3 {
						left: auto;
						right: 5%;
					}
				}
			}
		}
	}

	.defaultSection {
		margin-top: 150px;

		&__heading {
			h2 {
				font-size: 4rem;
			}

			p {
				font-size: 1.8rem;
			}
		}
	}

	.howToJoin {
		margin-top: 140px;

		&__choices {
			flex-direction: row;
			overflow: hidden;
		}

		&__choice {
			width: 50%;
			height: 500px;
			cursor: pointer;
			transition: width 0.5s ease-out, transform 0.8s, opacity 0.3s;

			.circle {
				top: 45px;
			}

			a {
				&:hover {
					transform: translateX(10px);
				}
			}

			img {
				height: 100%;
			}

			h2,
			img {
				transition: scale 0.3s, filter 0.3s, right 0.3s, left 0.3s;
			}

			&:hover {
				h2,
				img {
					scale: 1.1;
					filter: drop-shadow(0 0 5px $accent);
				}
			}

			&-left {
				margin-left: 40px;

				.hide {
					transform: translateX(-200px);
				}

				.circle {
					left: -30px;
				}

				img {
					right: -5%;
				}
			}

			&-right {
				margin-right: 40px;

				.hide {
					transform: translateX(200px);
				}

				.circle {
					right: -30px;
				}

				img {
					left: -5%;
				}
			}

			.hide {
				opacity: 0;
				pointer-events: none;
				transition: opacity 0.3s, transform 0.3s;
			}

			&--actionReavelLeft {
				width: 100%;
				cursor: default;

				.hide {
					opacity: 1;
					pointer-events: auto;
					transform: translateX(0);
				}

				img {
					right: 0;
				}

				&:hover {
					h2,
					img {
						scale: 1;
						filter: drop-shadow(0 0 0 #000);
					}
				}
			}

			&--actionReavelRight {
				width: 100%;
				cursor: default;

				.hide {
					opacity: 1;
					pointer-events: auto;
					transform: translateX(0);
				}

				img {
					left: 0;
				}

				&:hover {
					h2,
					img {
						scale: 1;
						filter: drop-shadow(0 0 0 #000);
					}
				}
			}

			&--actionHideLeft {
				transform: translateX(-200%);
				opacity: 0;
				width: 0;
			}

			&--actionHideRight {
				transform: translateX(200%);
				opacity: 0;
				width: 0;
			}
		}
	}
}
