@use 'colors' as *;
@use 'mixins' as *;

@media (min-width: 576px) {
	.landingPage {
		.header {
			&__title {
				margin-left: 20px;
				width: 80%;

				h1 {
					font-size: 4rem;
				}

				p {
					font-size: 1.8rem;
				}
			}
		}

		.join {
			&__title {
				h2 {
					@include h2S;
				}
			}

			&__choice {
				h3 {
					font-size: 2rem;
				}

				&-left {
					h3 {
						right: 20%;
					}
				}

				&-right {
					h3 {
						left: 20%;
					}
				}
			}
		}
	}

	.nav {
		&__mobile {
			a {
				font-size: 1.6rem;
			}

			&-burgerBtn {
				right: -50px;
				font-size: 4rem;
			}
		}

		&__settings {
			button {
				font-size: 3rem;

				img {
					width: 42px;
					height: 24px;
				}
			}

			&-flag {
				&--active1 {
					transform: translateY(45px);
				}

				&--active2 {
					transform: translateY(90px);
				}
			}

			&-option {
				font-size: 1.6rem;
			}
		}

		&__middle {
			&-logo {
				img {
					width: 70px;
				}
			}
		}
	}

	.footer {
		.wrapper {
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: wrap;
		}

		&__block {
			align-items: flex-start;
			width: 40%;

			&:not(:first-child) {
				margin-top: 2.5rem;

				&:nth-child(2) {
					padding-left: 2rem;
				}
			}

			&-other {
				align-items: flex-start;
			}
		}

		&__desc {
			width: 60%;
		}
	}

	.factions {
		&__heading {
			&--description {
				h2 {
					font-size: 4rem;
				}

				p {
					font-size: 1.5rem;
				}
			}
		}
		.factions__flags {
			display: flex;
			flex-direction: column;

			.flag {
				p {
					font-size: 1.5rem;
				}
			}
		}
	}
}
