@use 'reset' as *;
@use 'colors' as *;
@use 'mixins' as *;

body {
	font-family: 'Roboto Mono', monospace;
	background-color: $background;
	color: $primary;

	a {
		color: $primary;
		cursor: pointer;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

// -------------------------------------------------------------------------------------------------
// Navigation

.nav {
	position: fixed;
	top: 0;
	width: 100%;
	height: 5rem;
	z-index: 999;
	transition: background-color 0.2s, box-shadow 0.2s;

	&--scrolled {
		background-color: $backgroundDarker;
		box-shadow: 0 0 10px #000;
	}

	.wrapper {
		position: relative;
		transition: scale 0.2s;
	}

	&__mobile {
		position: fixed;
		left: 0;
		top: 0;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 30%;
		height: 100%;
		background-color: $backgroundDarker;
		transform: translateX(-100%);
		transition: transform 0.3s ease-out, box-shadow 0.2s;
		z-index: 1005;

		&--active {
			transform: translateX(0);
			box-shadow: 0px 0px 5px #000;
		}

		a {
			padding: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 1.2rem;
			text-transform: uppercase;
			text-align: center;
		}

		&-burgerBtn {
			position: absolute;
			top: 0;
			right: -40px;
			padding: 5px;
			font-size: 3rem;
			background: none;

			i {
				color: $primary;
			}
		}
	}

	&__settings {
		position: absolute;
		top: -2px;
		right: 5px;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		z-index: 1002;

		button {
			padding: 5px;
			margin: 5px;
			font-size: 2.8rem;
			background: none;

			img {
				width: 42px;
				height: 24px;
			}

			i {
				color: $primary;
			}
		}

		&-flags {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
		}

		&-lang {
			filter: drop-shadow(0 0 5px #000);
			z-index: 1002;
		}

		&-flag {
			position: absolute;
			transition: transform 0.2s;
			z-index: 1001;

			&--active1 {
				transform: translateY(45px);
				filter: drop-shadow(0 0 5px #000);
			}

			&--active2 {
				transform: translateY(90px);
				filter: drop-shadow(0 0 5px #000);
			}
		}

		&-account {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-end;
			filter: drop-shadow(0 0 5px #000);
		}

		&-profile {
			align-self: center;
		}

		&-options {
			position: absolute;
			top: 100%;
			right: 10px;
			transform: translateX(150%);
			transition: transform 0.2s;
			transition-delay: 0.4s;

			&--active {
				transform: translateX(0);
				transition-delay: 0s;
			}
		}

		&-option {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-end;
			padding: 5px;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 1.2rem;
			text-shadow: 0 0 5px #000;
			text-align: right;
			text-transform: uppercase;
			transition: transform 0.2s ease-out, opacity 0.2s;
			transform: translateX(150%);
			opacity: 0;

			&:hover {
				&::before {
					width: 90%;
				}
			}

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				right: 0;
				width: 0;
				height: 2px;
				background-color: #fff;
				transition: width 0.3s;
			}

			&:nth-child(1) {
				margin-top: 0;
			}

			&:nth-child(2) {
				transition-delay: 0.1s;
			}

			&:nth-child(3) {
				transition-delay: 0.2s;

				&:hover {
					&::before {
						width: 100%;
					}
				}
			}

			&--active {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}

	&__middle {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-top: 5px;

		&-logo {
			img {
				width: 40px;
			}
		}

		&-links {
			display: none;

			a {
				position: relative;
				padding: 5px;
				margin-left: 8px;
				margin-right: 8px;
				text-transform: uppercase;

				&:hover {
					&::before {
						width: 90%;
					}
				}

				&::before {
					content: '';
					position: absolute;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					width: 0;
					height: 2px;
					background-color: #fff;
					transition: width 0.3s;
				}
			}
		}
	}
}

// -------------------------------------------------------------------------------------------------
// Footer

.footer {
	padding: 2rem;
	padding-top: 1rem;
	border-top: 1px solid #000;

	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
	}

	&__block {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		width: 100%;
		margin-top: 2rem;

		&-header {
			font-size: 1.8rem;
			font-weight: bold;
			text-transform: uppercase;
		}

		&-other {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			padding-right: 1rem;

			a {
				padding: 0.3rem 0;
				margin: 0.5rem 0;
				font-size: 1.4rem;
				color: rgb(238, 238, 238, 20%);
				transition: color 0.3s;

				&:hover {
					color: rgb(238, 238, 238, 100%);
				}
			}
		}
	}

	&__desc {
		align-items: flex-start;

		&-header {
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			align-items: center;

			p {
				font-size: 1.8rem;
				font-weight: bold;
			}

			img {
				height: 6rem;
			}
		}

		&-other {
			p,
			div {
				padding: 0.5rem 0;
			}

			p {
				font-size: 1.1rem;
			}

			p,
			a {
				color: rgb(238, 238, 238, 20%);
			}

			a {
				padding: 0 0.3rem;
				font-size: 1.3rem;
				transition: color 0.3s;

				&:first-child {
					padding-left: 0;
				}

				&:hover {
					color: rgb(238, 238, 238, 100%);
				}
			}
		}
	}
}

// -------------------------------------------------------------------------------------------------
// Ladning Page

.landingPage {
	.header {
		position: relative;
		width: 100%;
		height: 100%;

		.wrapper {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			height: 100%;
		}

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}

		&__title {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;
			width: 80%;
			height: 70%;
			padding: 10px;
			text-shadow: 0px 0px 4px #000;
			text-align: left;
			z-index: 1;

			h1 {
				font-size: 2.5rem;
			}

			p {
				font-size: 1.5rem;
			}
		}
	}

	.trailer {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $backgroundSecondary;

		.wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
		}

		&__video {
			width: 100%;
			margin: 10px 0;
			height: auto;
			aspect-ratio: 16 / 9;
			border: 0;
		}
	}

	.join {
		background: linear-gradient(to bottom, $backgroundSecondary, $backgroundSecondary 20%, $background 100%);

		&__title {
			display: flex;
			justify-content: center;
			align-items: center;
			padding-top: 40px;

			h2 {
				@include h2XS;
			}
		}

		&__choices {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__choice {
			position: relative;
			display: flex;
			align-items: flex-end;
			width: 100%;
			height: 500px;
			background-size: cover;
			background-repeat: no-repeat;
			overflow: hidden;
			cursor: pointer;

			h3,
			img {
				transition: scale 0.3s, filter 0.3s, color 0.3s;
			}

			&:hover {
				h3,
				img {
					scale: 1.1;
					filter: drop-shadow(0 0 5px $accent);
				}

				h3 {
					color: $accent;
				}
			}

			h3 {
				position: absolute;
				top: 20%;
				font-size: 1.6rem;
				text-transform: uppercase;
				z-index: 1;
			}

			img {
				height: 95%;
				object-fit: cover;
				object-position: center;
			}

			&-left {
				justify-content: flex-start;
				order: 1;

				h3 {
					right: 20%;
				}

				img {
					margin-left: 10%;
				}
			}

			&-right {
				justify-content: flex-end;

				h3 {
					left: 20%;
				}

				img {
					margin-right: 10%;
				}
			}
		}
	}
}

// -------------------------------------------------------------------------------------------------
// Default Section

.defaultSection {
	margin-top: 25rem;
}

// -------------------------------------------------------------------------------------------------
// Factions

.factions {
	&__heading {
		display: flex;
		align-items: center;
		justify-content: center;

		&--description {
			text-align: center;

			h2 {
				font-size: 3rem;
				margin-bottom: 1.6rem;
			}
			p {
				padding: 2rem;
				font-size: 1rem;
			}
		}
	}

	&__flags {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 4rem;
		margin-top: 5rem;

		.englandFlag {
			margin-bottom: 5rem;
		}

		.flag {
			width: 100%;
			min-height: 200px;
			text-align: center;

			img {
				height: 135px;
				width: 200px;
				object-fit: cover;
			}

			p {
				margin-top: 2rem;
			}
		}
	}
}

// -------------------------------------------------------------------------------------------------
// How To Join

.howToJoin {
	margin-top: 60px;

	.wrapper {
		position: relative;
		padding: 0 20px;
	}

	&__choices {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__choice {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: relative;
		height: 400px;
		width: 100%;
		margin: 20px 0;

		.circle {
			position: absolute;
			top: 65px;
			width: 200px;
			height: 200px;
			background-color: #000;
			border-radius: 50%;
		}

		h2,
		p,
		a {
			text-shadow: 0 0 10px #000;
			filter: drop-shadow(0 0 5px #000);
			z-index: 10;
		}

		h2 {
			margin-top: 100px;
			font-size: 1.8rem;
			color: $accent;
			text-transform: uppercase;
			cursor: default;
			z-index: 10;
		}

		p {
			max-width: 400px;
			margin: 1rem 0;
		}

		a {
			font-size: 1.2rem;
			color: $accent;
		}

		img {
			position: absolute;
			height: 400px;
			filter: drop-shadow(0 0 5px #000);
		}

		&-left {
			align-items: flex-start;

			.circle {
				left: -30px;
			}

			a {
				margin-left: 20px;
			}

			img {
				right: 0;
			}
		}

		&-right {
			align-items: flex-end;
			text-align: right;

			.circle {
				right: -30px;
			}

			a {
				margin-right: 20px;
			}

			img {
				left: 0;
			}
		}
	}
}

@import 'small';
@import 'medium';
@import 'large';
